:root{
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);

    --brightBlue: hsl(224, 93%, 58%);
    --moderateCyan: hsl(170, 45%, 43%);

    --veryDarkBlue: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);

    --fontBody: 'Open Sans', sans-serif;
    --fontHeading: 'Raleway', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontBody);

}