:root{
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);

    --brightBlue: hsl(224, 93%, 58%);
    --moderateCyan: hsl(170, 45%, 43%);

    --veryDarkBlue: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);

    --fontBody: 'Open Sans', sans-serif;
    --fontHeading: 'Raleway', sans-serif;

    --padding-container: 5.625rem 0;
}

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontBody);

}

.container{
    inline-size: 90%;
    max-inline-size: 75rem;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    outline: 1px solid red;
    --padding-container: 2.5rem 0;
}

.nav-logo{
    inline-size: 6.875rem;
}

.nav-img{
    inline-size: 100%;
    display: block;
}

.nav-link:first-of-type{
    margin-left: auto;
}

.nav-link{
    text-decoration: none;
    color: var(--desaturatedBlue);
    font-family: var(--fontHeading);
}