:root{
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);

    --brightBlue: hsl(224, 93%, 58%);
    --moderateCyan: hsl(170, 45%, 43%);

    --veryDarkBlue: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);

    --white: #fff;

    --fontBody: 'Open Sans', sans-serif;
    --fontHeading: 'Raleway', sans-serif;

    --padding-container: 5.625rem 0;
}

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontBody);
    scroll-behavior: smooth;

}

.container{
    inline-size: 90%;
    max-inline-size: 75rem;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    --padding-container: 2.5rem 0;
}

.nav-logo{
    inline-size: 6.875rem;
}

.nav-img{
    inline-size: 100%;
    display: block;
}

.nav-link:first-of-type{
    margin-left: auto;
}

.nav-link{
    text-decoration: none;
    color: var(--desaturatedBlue);
    font-family: var(--fontHeading);
}

.nav-link:hover{
    text-decoration: underline;
    color: var(--veryDarkBlue);
    font-weight: bold;
}

.hero{
    position: relative;
    --padding-container: 5.625rem 0 10.625rem;
}

.hero::before{
    content: "";
    position: absolute;
    inline-size: 100%;
    block-size: 6.25rem;
    background-image: url(../images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    bottom: 0;
    background-position: center;
}
.hero-img{
    inline-size: 100%;
    display: block;
    max-inline-size: 25rem;
    margin: 0 auto;
}

.hero-info{
    text-align: center;
    color: var(--veryDarkBlue);
}

.hero-title{
    font-size: 1.7rem;
    font-family: var(--fontHeading);
    margin-block-start: 1.8em;
}

.hero-paragraph{
    line-height: 1.5rem;
    margin: 1.5em 0;
}

.hero-input{
    block-size: 2.82rem;
    border-radius: .8rem;
    inline-size: 100%;
    font: inherit;
    border: 1px solid var(--veryDarkBlue);
    padding: 0 1.5rem;
    font-family: var(--fontHeading);

}

.hero-input--cta{
    background-color: var(--brightBlue);
    color: var(--white);
    border: none;
    font-weight: 700;
    margin-block-start:1.5em ;
    cursor: pointer;
}

.productive{
    background-color: var(--lightGrayishBlue);
    --padding-container: 1.875rem 0 5.625rem;
}


.productive-img{
    inline-size: 100%;
    max-inline-size: 25rem;
    margin: 0 auto;
    display: block;
}
.productive-main {
    margin-block-start: 6em;
}

.productive-title{
    font-size: 1.1rem;
    text-align: center;
    color: var(--veryDarkBlue);
    font-family: var(--fontHeading);
}

.productive-paragraph{
    color: var(--desaturatedBlue);
    line-height: 1.5;
    margin-block-start: 1.5em;
    margin-block-end:1.2em;
}

.productive-paragraph:last-of-type {
    margin: 0;
}

.productive-cta{
    display: block;
    inline-size: max-content;
    margin: 2em auto 3em;
    text-decoration: none;
    color: var(--moderateCyan);
    border-bottom: 2px solid;
    padding-bottom: 4px;
}

.productive-arrow{
    vertical-align: middle;
}

.productive-testimony{
    inline-size: 95%;
    max-inline-size: 21.875rem;
    margin: 0 auto;
    background-color: var(--white);
    padding: 2em 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 10px -5px rgb(0, 0, 0, .5);
}

.productive-quote{
    inline-size: 1.5rem;
}

.productive-review{
    margin: .5em 0 1.5em;
    color: var(--veryDarkBlue);
    line-height: 1.5rem;

}

.productive-card{
    display: flex;
    align-items: center;
}

.productive-person{
    inline-size: 3.125rem;
    block-size: 3.125rem;
    border-radius:50%;
    margin-right: 1rem;
}

.newsletter{
    background-color: var(--desaturatedBlue);
    color: var(--white);
    text-align: center;
}

.newsletter-form{
    inline-size: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block-start: 2em;
}

.newsletter-title{
    font-family: var(--fontHeading);
}

.newsletter-paragraph{
    line-height: 1.5;
    margin-block-start: 1.2em;
}

.newsletter-email, .newsletter-submit{
    padding: 1em .5em;
    font: inherit;
    font-family: var(--fontHeading);
    border-radius: 3px;
    border: none;
}

.newsletter-email{
    box-shadow: 0 0 4px rgb(0, 0, 0, .3);
}

.newsletter-submit{
    color: var(--white);
    background-color: var(--brightBlue);
}

.footer{
    background-color: var(--veryDarkBlue);
    color: var(--white);
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.footer-logo{
    display: block;
}

.footer-icon{
    vertical-align: middle;
    margin-right: .5em;
}

.footer-info{
    font-size: 1.2rem;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-link{
    text-decoration: none;
    color: var(--white);
    font-family: var(--fontHeading);

}

.footer-link:hover{
    text-decoration: underline;
}

.footer-social{
    display: flex;
    inline-size: max-content ;
    margin: 0 auto;
    gap: 1.5em;
}

.footer-media{
    border: 1px solid var(--white);
    inline-size: 2rem;
    block-size: 2rem;
    border-radius: 50%;
    display: flex;
}

.footer-img{
    inline-size: 1.5rem;
    max-block-size: 1.5rem;
    margin: auto;
}

@media (min-width:768px){
    .hero {
            --padding-container: 5.625rem 0 12.5rem;
        }

        .hero::before {
            background-image: url(../images/bg-curve-desktop.svg);

        }

        .hero-img {
            max-inline-size: none;

        }

        .hero-main{
            display: flex;
            align-items: center;
            gap: 1.5em;
        }
        .hero-info {
            order: -1;
            text-align: left;
        }

        .hero-title {
            font-size: 2.3rem;
            margin-block-start: 0;
        }

        .hero-contact{
            display: flex;
            gap: 1em;
        }

        .hero-input{
            min-width: 13.3rem;
            flex-grow: 1;
        }
        .hero-input--cta{
            margin-block-start: 0;
            flex-grow: 0;
            inline-size: 13.3rem;
        }

        .productive-img {
            max-inline-size: none;
        }

        .productive-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .productive-picture{
            inline-size: 45%;
            order: 1;
        }
        .productive-main {
            margin-block-start: 0;
            inline-size: 52%;
        }

        .productive-title {
            font-size: 2.1rem;
            text-align: left;

        }

        .productive-cta {
            margin: 2em 0 3em ;
        }

        .productive-testimony{
            max-inline-size: 26.25rem ;
            margin: 2px;
        }

        .newsletter-container {
            display: flex;
            justify-content: space-between;
            text-align: left;
            /* align-items: center; */
        }

        .newsletter-form {
            inline-size: 45%;
            margin: 0;
            max-inline-size: 31.25rem;
            flex-wrap: wrap;
        }

        .newsletter-text{
            inline-size: 48%;
            max-inline-size: 28.125rem;
        }

        .newsletter-title {
            font-size: 1.7rem;
        }

        .newsletter-email {
           inline-size: 100%;
        }

        .newsletter-submit {
            inline-size: max-content;
            padding: 1em 2em;
        }

        .footer {
            background-color: var(--veryDarkBlue);
            color: var(--white);
        }

        .footer-container {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-picture{
            inline-size: 100%;
        }

        .footer-contact{
            inline-size: 25%;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .footer-social{
            margin: 0;
        }
}